language: python
python:
  - "2.7"
env:
  - DJANGO="Django>=1.2,<1.3"
  - DJANGO="Django>=1.3,<1.4"
  - DJANGO="Django>=1.4,<1.5"
  - DJANGO="Django>=1.5,<1.6"
  - DJANGO="Django>=1.6,<1.7"
  - DJANGO="Django>=1.7,<1.8"
  - DJANGO="Django>=1.8,<1.9"
install:
  - pip install $DJANGO python-ldap mockldap
script: python setup.py test
