include AUTHORS ChangeLog LICENSE README.rst
include requirements*.txt

graft ldapdb
graft tests
graft examples

global-exclude *.py[cod] __pycache__ .*swp

include Makefile manage_dev.py tox.ini .flake8

recursive-include static *.js
